<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Data Visualization</title>
  </head>
  <body>

  <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/begin-prediction">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/data-visualization">Data Visualization</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="/">Log Out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

    <div class="container">
        <h1>Here Are Some Data Visualizations From Our Dataset</h1>
    </div>

    <div class="container">
        <iframe width="95%" height="500" frameborder="0" scrolling="no" src="//plotly.com/~chrisalvizuris/1.embed"></iframe>
    </div>
    <div class="container">
        <iframe width="95%" height="500" frameborder="0" scrolling="no" src="//plotly.com/~chrisalvizuris/3.embed"></iframe>
    </div>
    <div class="container">
        <iframe width="95%" height="500" frameborder="0" scrolling="no" src="//plotly.com/~chrisalvizuris/6.embed"></iframe>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/4.1.2/papaparse.js"></script>

    <div class="container">
        <h2>Raw Data from Stars Dataset</h2>
        <p>Below, you'll find a sample of the raw data that was used to train the machine learning model:</p>
    </div>
    <div class="container">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Temperature</th>
              <th scope="col">Luminosity</th>
              <th scope="col">Radius</th>
              <th scope="col">Absolute Magnitutde</th>
              <th scope="col">Color</th>
              <th scope="col">Spectral Class</th>
              <th scope="col">Type</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>8250</td>
              <td>9.25</td>
              <td>1.93</td>
              <td>-0.98</td>
              <td>yellow-white</td>
              <td>F</td>
              <td>3</td>
            </tr>
            <tr>
              <td>3834</td>
              <td>272000</td>
              <td>1183</td>
              <td>-9.2</td>
              <td>Red</td>
              <td>M</td>
              <td>5</td>
            </tr>
            <tr>
              <td>3453</td>
              <td>0.000621</td>
              <td>0.0773</td>
              <td>17.08</td>
              <td>Red</td>
              <td>M</td>
              <td>0</td>
            </tr>
            <tr>
              <td>3345</td>
              <td>0.021</td>
              <td>0.273</td>
              <td>12.3</td>
              <td>Red</td>
              <td>M</td>
              <td>1</td>
            </tr>
            <tr>
              <td>17383</td>
              <td>342900</td>
              <td>30</td>
              <td>-6.09</td>
              <td>Blue</td>
              <td>O</td>
              <td>4</td>
            </tr>
            <tr>
              <td>18000</td>
              <td>200000</td>
              <td>1045</td>
              <td>-8.3</td>
              <td>Blue</td>
              <td>O</td>
              <td>5</td>
            </tr>
            <tr>
              <td>25390</td>
              <td>223000</td>
              <td>57</td>
              <td>-5.92</td>
              <td>Blue</td>
              <td>O</td>
              <td>4</td>
            </tr>
            <tr>
              <td>2778</td>
              <td>0.000849</td>
              <td>0.112</td>
              <td>19.45</td>
              <td>Red</td>
              <td>M</td>
              <td>0</td>
            </tr>
            <tr>
              <td>2637</td>
              <td>0.00073</td>
              <td>0.127</td>
              <td>17.22</td>
              <td>Red</td>
              <td>M</td>
              <td>0</td>
            </tr>
            <tr>
              <td>9700</td>
              <td>74</td>
              <td>2.89</td>
              <td>0.16</td>
              <td>Whitish</td>
              <td>B</td>
              <td>3</td>
            </tr>
          </tbody>
        </table>
    </div>
    <div class="container">
        <p style="padding-bottom: 30px">If you'd like to view the full dataset, you can find it at <a href="https://www.kaggle.com/brsdincer/star-type-classification">Kaggle.</a></p>
    </div>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  </body>
</html>